
.about {
    padding: 50px 0px;
    position: relative;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;    
}

h1 {
    color: black;
}

.about-header-description {
    padding-top: 20px;
}
