.contact {
    padding-bottom: 200px;
}

.input-field {
    border: 1px solid black;
    border-radius: 30px;
    background: #cae8ff;
    margin-bottom: 20px;
}

.form-control:focus {
    background: #cae8ff;
}

.input-field::placeholder {
    color: black;
}

h1 {
    color: black;
}

.contact-description {
    color: black;
    font-size: 17px;
    padding: 20px 0
}

.submitBtn {
    background: #12a8db;
    color: white;
    padding: 16px 60px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 40px;
    border: none;
}
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:active {
    background: #000000 !important;
    color: #ffffff;
}

.location {
    font-size: 17px;
    color: black;
}

.join-section {
    text-align: right;
    padding-top: 20px;

}

.join-description {
    font-size: 17px;
    margin-left: 100px;
    color: black;
    padding: 20px 0
}

.commitment {
    padding-top: 50px;
    text-align: center;
}

.commitment-description {
    font-size: 17px;
    color: black;
    margin-top: 20px;
}