.footer {
    padding: 100px 0;
    background: #12a8db;
    position: relative;
}

.footer-top {
    display: block;
    position: absolute;
    top: -154px;
    left: 0;
}

.terms-policy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.terms {
    font-family: 'Poppins';
    color: white;
    font-size: 30px;
}

.terms:hover,
.terms:focus,
.terms:active {
    background: transparent !important;
    color: white;
}

.privacy {
    font-family: 'Poppins';
    color: white;
    font-size: 30px;
    margin-left: 60px;
}

.privacy:hover,
.privacy:focus,
.privacy:active {
    background: transparent !important;
    color: white;
}

.copyright {
    color: white;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 40px;
}

@media (max-width: 992px) {
    .footer-top {
        display: none;
    }
}