.herosection {
    padding: 150px 0px 50px 0px;
}

.herosection-content {
    display: flex;
}

.herosection-content-items {
    color: black;
    font-size: 45px;
}

.hersection-content-description {
    max-width: 400px;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
}



.rightBorder {
    margin: 0 12px 0 12px;
    height: 60px;
    width: 6px;
    background: black;
}

@media (max-width: 992px) {
    .herosection-content-items {
        color: black;
        font-size: 30px;
    }
    .hersection-content-description {
        max-width: 100%;
    }

    .rightBorder {
        margin: 0 7px 0 7px;
        height: 40px;
        width: 6px;
        background: black;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .herosection-content-items {
        font-size: 38px;
    }
}