html {
    scroll-behavior: smooth;
}

.scroll-mt {
    scroll-margin-top: 70px;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: lato;
    font-weight: 600;
}

figure {
    margin: 0;
}

li {
    font-family: poppins;
}

p {
    margin: 0;
    font-family: poppins;
}