.team {
    padding-bottom: 100px
}

.team-header {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.team-header-description {
    padding-top: 20px;
}

.team-member {
    background: #12a8db;
    text-align: center;
    min-height: 450px;
    padding: 30px;
}

.team-name {
    color: white;
}

.team-title {
    color: white;
    margin-top: 15px;
}

.team-bio {
    color: white;
    font-size: 16px;
}

.horizontal-line-style {
    height: 2px;
    background: white;
    margin: 20px 0;
}